/* CSS para o modal de confirmação de exclusão */
.modal {
    display: none;
    /* Oculta o modal por padrão */
    position: fixed;
    /* Mantém o modal fixo na tela */
    z-index: 1;
    /* Define uma pilha de contexto */
    left: 0;
    top: 0;
    width: 100%;
    /* Ocupa toda a largura */
    height: 100%;
    /* Ocupa toda a altura */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    /* Fundo branco */
    margin: 20% auto;
    /* Centraliza verticalmente com margem superior */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Largura do modal */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botão de fechar do modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botão de confirmar exclusão */
#confirmarExclusao {
    background-color: #f44336;
    /* Vermelho */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

#confirmarExclusao:hover {
    background-color: #d32f2f;
    /* Vermelho mais escuro ao passar o mouse */
}