/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
    background-image: url("_imgs/backgound.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    overflow-x: hidden;
  }
  
  /* Caixa de boas-vindas */
  .welcome {
    background-color: rgba(160, 217, 149, 0.9);
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    font-weight: 600;
  }
  
  /* Container principal */
  .containerPrincipal {
    background-color: #dcd9f8;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .containerPrincipal h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #555;
    font-weight: 500;
  }
  
  .etapas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .step {
    flex: 1 1 100%;
  }
  
  /* Estilo do input */
  .linhaInput {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .linhaInput:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  /* Botão de adicionar */
  .botaoAdicionar {
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: #4caf50;
    color: white;
    padding: 12px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
  
  .botaoAdicionar:hover {
    background-color: #2d6b30;
  }
  
  .botaoAdicionar:focus {
    background-color: #5cb85c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  /* Container secundário */
  .containerSecundario {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Labels */
  .labelsItensSubtitulo {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    color: #444;
  }
  
  .labelsItensSubtitulo p {
    text-align: center;
  }
  
  .item {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    transition: background-color 0.2s;
  }
  
  .item:hover {
    background-color: #f9f9f9;
  }
  
  .item p {
    text-align: center;
    color: #555;
    font-size: 16px;
  }
  
  .item:last-child {
    border-bottom: none;
  }
  
  /* Total */
  #total {
    margin-top: 20px;
    padding: 12px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
  }
  
  #total p {
    font-size: 18px;
    font-weight: bold;
  }
  
  #totalValor {
    display: inline-block;
    font-size: 20px;
    color: #4caf50;
  }
  
  /* Estilo para o botão "Enviar via WhatsApp" */
  button.enviar-whatsapp {
    margin-top: 10px;
    display: flex;
    align-self: center;
    align-content: center;
    margin: 10px auto 0px auto;
    background-color: #25d366;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.enviar-whatsapp:hover {
    background-color: #128c7e;
  }
  
  /* Media Queries para dispositivos móveis e tablets */
  @media only screen and (max-width: 768px) {
    .etapas {
      flex-direction: column;
    }
  
    .labelsItensSubtitulo,
    .item {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  
    .labelsItensSubtitulo p:nth-child(1),
    .labelsItensSubtitulo p:nth-child(6),
    .item p:nth-child(1),
    .item p:nth-child(6) {
      display: none;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .labelsItensSubtitulo,
    .item {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  
    .labelsItensSubtitulo p:nth-child(1),
    .labelsItensSubtitulo p:nth-child(6),
    .item p:nth-child(1),
    .item p:nth-child(6) {
      display: none;
    }
  }
  
  #listaItens,
  #total,
  #enviar-wpp {
    display: none;
  }
  